<main>
  <section class="left-informations">
    <article class="about card">
      <h1 class="hidden">Oscar Laude - Développeur Full Stack</h1>
      <h2 class="text-lg">Développeur Full Stack</h2>
      <p class="text-shadow">Passionné par le développement web et les nouvelles technologies.</p>
      <div class="about-actions">
        <button class="btn-contact">Contact</button>
        <button class="btn-cv" tuiButton type="button" (click)="open = true">
          <tui-icon icon="@tui.file-user" [style.font-size]="'20px'" />
          <span>CV</span>
        </button>
      </div>
    </article>
    <article class="certifications card">
      <div class="certifications-title">
        <tui-icon icon="@tui.award" [style.font-size]="'20px'" />
        <h2>Certifications</h2>
      </div>
      <div class="certifications-list">
        <div class="certification-item">
          <div class="certification-content">
            <h3>Titre de la Certification</h3>
            <span class="badge-certificate full">Terminée le 04/04/2025</span>
          </div>
          <p>Intitulé de la certification</p>
        </div>
        <div class="certification-item">
          <div class="certification-content">
            <h3>Titre de la Certification</h3>
            <span class="badge-certificate progress">En cours</span>
          </div>
          <p>Intitulé de la certification</p>
        </div>
      </div>
    </article>
    <article class="contact card">
      <div class="contact-title">
        <tui-icon icon="@tui.phone" [style.font-size]="'20px'" />
        <h2>Contact</h2>
      </div>
      <div class="contact-mail">
        <tui-icon icon="@tui.mail" [style.font-size]="'16px'" />
        <p>oscarlaudepro&#64;gmail.com</p>
      </div>
      <div class="contact-network">
        <div class="network-item">
          <a href="https://github.com/OscarLaude" target="_blank">
            <tui-icon icon="@tui.github" [style.font-size]="'16px'" />
          </a>
        </div>
        <div class="network-item">
          <tui-icon icon="@tui.linkedin" [style.font-size]="'16px'" />
        </div>
      </div>
    </article>
  </section>
  <section class="middle-informations">
    <article class="projects card">
      <div class="projects-title">
        <tui-icon icon="@tui.code" [style.font-size]="'20px'" />
        <h2>Projets</h2>
      </div>
      <div class="projects-list">
        <div class="project-item">
          <div class="project-content">
            <span class="tmp-fake-img"></span>
          </div>
          <div class="project-informations">
            <h3>Titre du Projet</h3>
            <p>Description du projet</p>
          </div>
          <div class="project-actions">
            <a href="#">
              <tui-icon icon="@tui.github" [style.font-size]="'16px'" />
            </a>
            <a href="#">
              <tui-icon icon="@tui.external-link" [style.font-size]="'16px'" />
            </a>
          </div>
        </div>
        <div class="project-item mt-1">
          <div class="project-content">
            <span class="tmp-fake-img"></span>
          </div>
          <div class="project-informations">
            <h3>Titre du Projet</h3>
            <p>Description du projet</p>
          </div>
          <div class="project-actions">
            <a href="#">
              <tui-icon icon="@tui.github" [style.font-size]="'16px'" />
            </a>
            <a href="#">
              <tui-icon icon="@tui.external-link" [style.font-size]="'16px'" />
            </a>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="right-informations">
    <article class="skills card">
      <div class="skills-title">
        <tui-icon icon="@tui.zap" [style.font-size]="'20px'" />
        <h2>Compétences</h2>
      </div>
      <div class="skills-list">
        <div *ngFor="let skill of skills" class="skill-item"><p>{{ skill }}</p></div>
      </div>
    </article>
    <article class="career card">
      <div class="career-title">
        <tui-icon icon="@tui.briefcase" [style.font-size]="'20px'" />
        <h2>Parcours</h2>
      </div>
      <div class="career-list">
        <tui-stepper
          orientation="vertical"
          tuiConnected
          [activeItemIndex]="1"
        >
          <button
            *ngFor="let experience of experiences"
            tuiStep
            type="button"
          >
            <div class="career-content">
              <p class="career-head">{{ experience.role }}</p>
              <p class="career-company">{{ experience.company }}</p>
            </div>
          </button>
        </tui-stepper>
      </div>
    </article>
    <ng-template [(tuiPdfViewer)]="open">
        <iframe
          title="pdf"
          class="iframe"
          [src]="src"
        ></iframe>
    </ng-template>
  </section>
</main>