<main>
  <section class="left-informations">
    <article class="about card">
      <h1 class="hidden">Oscar Laude - Développeur Full Stack</h1>
      <h2 class="text-lg">Développeur Full Stack</h2>
      <p class="text-shadow">Passionné par le développement web et les nouvelles technologies.</p>
      <div class="about-actions">
        <button class="btn-contact">Contact</button>
        <button class="btn-cv">
          <tui-icon class="cv-icon" icon="@tui.file-user" />
          <span>CV</span>
        </button>
      </div>
    </article>
    <article class="certifications card">
      <h2>certifications</h2>
    </article>
    <article class="contact card">
      <h2>contact</h2>
    </article>
  </section>
  <section class="middle-informations">
    <article class="projects card">
      <h2>projects</h2>
    </article>
  </section>
  <section class="right-informations">
    <article class="skills card">
      <h2>skills</h2>
    </article>
    <article class="career card">
      <h2>career</h2>
    </article>
  </section>
</main>