<main>
  <section class="left-informations">
    <article class="about card">
      <h1>about</h1>
    </article>
    <article class="certifications card">
      <h2>certifications</h2>
    </article>
    <article class="contact card">
      <h2>contact</h2>
    </article>
  </section>
  <section class="middle-informations">
    <article class="projects card">
      <h2>projects</h2>
    </article>
  </section>
  <section class="right-informations">
    <article class="skills card">
      <h2>skills</h2>
    </article>
    <article class="career card">
      <h2>career</h2>
    </article>
  </section>
</main>